

body {
  /* Replace the colors with your desired gradient colors */
  background: linear-gradient(135deg, #ffffff, #e8e4cd);
  
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
